.view-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Usa toda la altura de la fila */
  }
.edit-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Usa toda la altura de la fila */
  }
.delete-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Usa toda la altura de la fila */
  }

  